@(webJarsUtil: org.webjars.play.WebJarsUtil)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>OmniTable</title>
        <link lang="en">
        @Html(webJarsUtil.script("react.js"))
        @Html(webJarsUtil.script("react-dom.js"))
        @Html(webJarsUtil.script("jquery.js"))
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <div id="root"></div>

        <script type="text/javascript" src='@routes.Assets.versioned("javascripts/constants.js")'></script>
        <script type="text/javascript" src='@routes.Assets.versioned("javascripts/menus/top-menu.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/robby/notification-box.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/robby/room-table.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/robby/room-in-panel.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/robby/robby.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/app.js")'></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>