@(webJarsUtil: org.webjars.play.WebJarsUtil)

<!DOCTYPE html>
<html lang="en">
  <head>
    @Html(webJarsUtil.script("react.js"))
    @Html(webJarsUtil.script("react-dom.js"))
    <script src="jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/main.js")'></script>
  </head>
  <body>
    <div id="root"></div>
    <button id="tmpButton" onclick="getRooms()">asdf</button>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/Robby.js")'></script>

  </body>
</html>
