@(webJarsUtil: org.webjars.play.WebJarsUtil, id: Int)

<!DOCTYPE html>
<html lang="en">
  <head>
    @Html(webJarsUtil.script("react.js"))
    @Html(webJarsUtil.script("react-dom.js"))
    @Html(webJarsUtil.script("jquery.js"))
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript">
      // 밑에 집어넣으면 src 파일 불러오는게 먼저 처리돼서 not defined로 인식됨
      var roomId = '@id';
    </script>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/Constants.js")'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/room/Room.js")'></script>
  </body>
</html>
